@import "bourbon"
@import "_fonts.sass"
@import "_vars.sass"

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "OpenSansRegular", sans-serif
	overflow-x: hidden
	color: #222

h1,h2,h3,h4,h5,h6
	font-family: "OpenSansLight", sans-serif
	font-weight: normal

h1
	font-size: em(43)

h2
	font-size: em(34)

h3,h4
	font-family: "OpenSansSemiBold", sans-serif
	text-transform: uppercase
	font-size: em(17px)

h4
	font-size: em(15px)

.hidden
	display: none

.main-head
	background-image: url(img/bg_top.jpg)
	background-size: cover
	background-position: top center
	min-height: 100vh

.mnu-line
	padding-top: 48px

.logo
	display: block
	width: 100px
	img
		width: 100%

nav
	ul
		list-style-type: none
		padding: 0
		margin: 0
	li
		display: inline-block

.main-mnu
	text-align: center
	font-size: em(16px)
	>	ul
		>	li
			>	a
				display: block
				padding: 10px 18px
				color: #7e91a4
				@extend .mt
				&:hover
					color: #414e5b
			&.active
				a
					color: #414e5b
					text-decoration: underline