@import bourbon
@import vars.sass

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
.s-gray
	background-color: #F8F8F8

.gallery-tizer-wrap
	min-height: 360px
	border: 7px solid $accent
	background-size: cover
	position: relative
	display: block
	&:hover
		text-decoration: none
	&::before
		content: ''
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background-color: #414e5b
		opacity: .6
	.table
		z-index: 2
		position: relative
		text-align: center
		height: 360px
		span
		font-size: em(26px)
		color: #fff


.tizer-triangle
	position: absolute
	top: 0
	right: 0
	color: #fff
	font-size: 19px
	@include triangle(65px, $accent, up-right)
	i
		position: absolute
		top: -60px
		right: 6px


//ALWAYS END
@import media

//Load Libs SASS
@import app/libs/animate/animate.sass
@import app/libs/font-awesome/css/font-awesome.sass
