@import bourbon
@import vars.sass

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
.s-gray
	background-color: #F8F8F8

.gallery-tizer-wrap
	min-height: 360px
	border: 7px solid $accent
	background-size: cover
	position: relative
	display: block
	&:hover
		text-decoration: none
		&::before
			opacity: .8
	&::before
		content: ''
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background-color: #414e5b
		opacity: .6
		+mt(.5s)
	.table
		z-index: 2
		position: relative
		text-align: center
		height: 360px
		span
		font-size: em(26px)
		color: #fff
		font-family: "OpenSansLight", sans-serif
		i
			color: #b5bdc6
			font-size: 58px


.tizer-triangle
	position: absolute
	top: 0
	right: 0
	color: #fff
	font-size: 19px
	@include triangle(65px, $accent, up-right)
	i
		position: absolute
		top: -60px
		right: 6px

.s-profile
	.fa-plus
		color: #b1b8be
	.button
		margin-top: 45px
		width: 100%
	h2
		text-align: left
	p
		color: #777

.home-gallery-wrap > a,
.certificate-wrap > a
		display: none
		&:first-child
			display: block

// Magnific-Popup Customize
.mfp-ready .mfp-figure
	opacity: 0
.mfp-zoom-in
	.mfp-figure, .mfp-iframe-holder .mfp-iframe-scaler
		opacity: 0
		transition: all 0.3s ease-out
		transform: scale(0.95)
	&.mfp-bg, .mfp-preloader
		opacity: 0
		transition: all 0.3s ease-out
	&.mfp-image-loaded .mfp-figure
		opacity: 1
		transform: scale(1)
	&.mfp-ready
		.mfp-iframe-holder .mfp-iframe-scaler
			opacity: 1
			transform: scale(1)
		&.mfp-bg, .mfp-preloader
			opacity: 0.8
	&.mfp-removing
		.mfp-figure, .mfp-iframe-holder .mfp-iframe-scaler
			transform: scale(0.95)
			opacity: 0
		&.mfp-bg, .mfp-preloader
			opacity: 0

.mfp-iframe-scaler
	overflow: visible
.mfp-zoom-out-cur
	cursor: auto
	.mfp-image-holder .mfp-close
		cursor: pointer
.mfp-preloader
	width: 30px !important
	height: 30px !important
	background-color: $accent
	opacity: 1
	margin: 0 auto
	animation: rotateplane 1.2s infinite ease-in-out
@-webkit-keyframes rotateplane
	0%
		-webkit-transform: perspective(120px)
	50%
		-webkit-transform: perspective(120px) rotateY(180deg)
	100%
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
@keyframes rotateplane
	0%
		transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	50%
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	100%
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)

.item-vertical
	svg, img
		width: 74px
		height: auto
	path
		fill: #555!important
		+mt(.5s)
	&:hover
		.button
			+mt(.5s)
			background-color: $accent
			box-shadow: 0px 4px 0px darken($accent, 6%)
			color: #fff
			&:active, &:focus
				background-color: darken($accent, 6%)
				box-shadow: 0px 4px 0px darken($accent, 6%)
		path
			fill: $accent!important
		h3
			&::before
				background-color: $accent
				width: 30%
				margin-left: -15%
	margin-top: 80px
	text-align: center
	h3
		margin-top: 30px
		position: relative
		padding-bottom: 15px
		&::before
			content: ''
			position: absolute
			bottom: 0
			height: 1px
			width: 15%
			left: 50%
			margin-left: -7.5%
			background-color: #D0D0D0
			+mt(.5s)
	p
		font-size: em(14px)
		color: #666
		padding: 0 15px
		margin-top: 25px
		margin-bottom: 35px

.s-works
	padding-bottom: 0
	border-bottom: 20px solid #35414E
	h2
		margin-bottom: 64px



.portfolio
	margin-top: 30px
	.col-md-4, .col-lg-3
		padding: 0
	.portfolio-item
		position: relative
		display: block
		color: #414e5b
		overflow: hidden
		img
			+mt(.5s)
		&:hover
			.portfolio-item-content
				opacity: 1
				transform: scale(.95)
			img
				transform: scale(1.1)
		&-content
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(255,255,255,.85)
			text-align: center
			padding-top: 25%
			opacity: 0
			+mt(.5s)
			transform: scale(1.1)
			i
				color: rgba(65,78,91, .6)
				font-size: 24px

.portfolio-popup
	position: relative
	display: block
	background-color: #fff
	max-width: 1000px
	margin: 5% auto
	text-align: center
	padding-top: 15px 
	+mt(.25s)
	.responsive-img
	.row, .col-sm-12
		display: block
	h2
		line-height: em(21px)
		margin: 30px 0
		width: 70%
		margin: 30px auto
	&-text
		text-align: left
	.td
		vertical-align: top
		padding: 0 7px
		color: #666
		&.wsnw
			color: $accent
		i
			font-size: 22px
			margin-right: 3px

.portfolio-popup-text
	display: block
	width: 90%
	margin: 20px auto 40px

.wsnw
	white-space: nowrap

//.my-mfp-zoom-in Animation
.my-mfp-zoom-in
	.portfolio-popup
		opacity: 0
		transform: scale(0.8)
	&.mfp-ready .portfolio-popup
		opacity: 1
		transform: scale(1)
	&.mfp-removing .portfolio-popup
		transform: scale(0.8)
		opacity: 0
	&.mfp-bg
		opacity: 0
		transition: opacity 0.3s ease-out
	&.mfp-ready.mfp-bg
		opacity: 0.8
	&.mfp-removing.mfp-bg
		opacity: 0

*
	transition: filter .25s ease
.mfp-wrap ~ *
	filter: blur(5px)

.carousel-wrap
	margin-bottom: 25px
	padding: 0 0 30px
	box-shadow: #D7D7D7 0 0 0 5px inset
	+mt(.25s)
	text-align: center
	background-color: #F8F8F8
	&:hover
		background-color: #EBEBEB
		box-shadow: $accent 0 0 0 5px inset
		.button
			background-color: $accent
			box-shadow: 0px 4px 0px darken($accent, 6%)
			color: #fff
			&:active, &:focus
				background-color: darken($accent, 6%)
				box-shadow: 0px 4px 0px darken($accent, 6%)
		.car-img-wrap
			svg
				path
					fill: $accent!important
					opacity: 1
	.car-img-wrap
		position: relative
		svg, .img-svg
			position: absolute
			max-height: 50px
			left: 0
			top: 25px			
			path
				opacity: .9
				+mt(.25s)
				fill: #fff!important
	h3
		font-size: em(17px)
		font-family: "OpenSansBold", sans-serif
	p
		font-size: em(13px)
		color: #444
		margin-bottom: 20px
	.carousel-text
		padding: 0 20px 
	.button
		margin-top: 20px

.s-equipment
	h2
		margin-bottom: 60px

.carousel-eq
	.carousel-wrap
		margin: 15px
	.owl-dots
		text-align: center
		margin-top: 25px
		.owl-dot
			width: 14px
			height: 14px
			background-color: #D7D7D7
			border-radius: 10em
			display: inline-block
			margin: 3px
			&.active
				background-color: $accent

.tizer-text
	font-family: "OpenSansLight", sans-serif
	font-size: em(19px)
	margin-bottom: 50px

.item-vertical-2
	margin-top: 55px
	&:hover
		.rounded-img-wrap
			transform: scale(1.15)
			border: $accent 6px solid
		.iv-phone
			color: $accent
	text-align: center
	h3
		font-size: em(17px)
		font-family: "OpenSansBold", sans-serif
		color: #444
		margin-top: 40px
		margin-bottom: 10px
	p
		font-size: em(13px)
		color: #666
		margin-top: 0

.iv-phone
	margin-top: 22px
	color: #999
	font-family: "Exo2Bold", sans-serif
	font-size: em(17px)
	+mt(.5s)
	i
		font-size: 19px
		margin-right: 3px

.rounded-img-wrap
	border-radius: 10em
	border: #999 6px solid
	overflow: hidden
	width: 125px
	height: 125px
	text-align: center
	margin: auto
	+mt(.5s)
	img
		max-width: 100%


.s-brands
	padding: 60px 0
	h2
		margin-bottom: 70px

.carousel-brands
	padding: 0 80px
	position: relative
	.owl-controls
		left: 0
		top: 0
		width: 100%
		position: absolute
		.owl-nav
			width: 100%
			top: 0
			position: absolute
			> div
				position: absolute
				left: 25px
				font-size: 34px
				line-height: 36px
				color: #9c9c9c
				+mt(.5s)
				&:hover
					color: $accent
				&.owl-next
					right: 25px
					left: auto
	.carousel-brand
		+mt(.5s)
		opacity: .5
		&:hover
			opacity: .9
		a
			display: block
			text-align: center
			img
				max-width: 70%
				max-height: 40px
				display: inline-block

.s-testomonials
	h2
		margin-bottom: 60px
.testimonials-item
	text-align: center
	font-size: em(14px)
	margin-top: 20px
	.rounded-img-wrap
		width: 98px
		height: 98px
		border-color: #fff
		box-shadow: rgba(0,0,0,.15) 0 0 5px
	> h4
		font-size: em(16px)
		font-family: "OpenSansBold", sans-serif
		margin-top: 35px
		margin-bottom: 12px
		+ p
			font-size: em(15px)
			letter-spacing: 2px
			margin-top: 0
			color: #666
	.testimonials-desc
		background-color: $blue
		color: #fff
		padding: 30px
		margin-top: 55px
		border-radius: 2px
		&::before
			content: ''
			@include triangle(24px, gray, up)
		h4
			font-size: em(19px)
			text-transform: none
			margin-top: 0
			margin-bottom: 18px
		p
			color: #b5babf

//ALWAYS END
@import media

//Load Libs SASS
@import app/libs/animate/animate.sass
@import app/libs/font-awesome/css/font-awesome.sass
@import app/libs/Magnific-Popup/magnific-popup.sass
@import app/libs/owl-carousel/assets/owl.carousel.sass
